html
    head
        title Kronologia homepage
        include ../../includes/babelize.pug
        script(type='module' src="/assets/views/index/script.js")
    body
        h1 Kronologia
        p#instruction Things to do:
        ul
            li
                a#auth(href='/auth/index.html' needed=!user) Log in
                if (user)
                    | &nbsp;(
                    span#loggedIn(provider=user.provider)= `logged in using ${user.provider[0].toUpperCase() + user.provider.slice(1)}`
                    | )
            li: a#quizzes(href='/quizzes/index.html') List quizzes
            li: a#wiki(href='https://github.com/lezsakdomi/kronologia/wiki') Wiki
            li
                span#lngInstruction Change language
                ul
                    for lng in ['hu', 'dev']
                        li: a.lng(href='?lng=' + lng, lng=lng)= lng
            li: a#about(href='/about/index.html') About
