html
	head
		title Kronologia homepage
		script(src="https://cdnjs.cloudflare.com/ajax/libs/i18next/11.9.0/i18next.min.js")
		script(src="https://cdn.jsdelivr.net/npm/i18next-xhr-backend@1.5.1/i18nextXHRBackend.min.js")
		script(src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector@2.2.3/i18nextBrowserLanguageDetector.min.js")
		script(type='module' src="/assets/views/index/script.js")
	body
		h1 Kronologia
		p#instruction Things to do:
		ul
			li: a#auth(href='/auth/index.html') Log in
			li: a#quizzes(href='/quizzes/index.html') List quizzes
			li: a#wiki(href='https://github.com/lezsakdomi/kronologia/wiki') Wiki
			li
				span#lngInstruction Change language
				ul
					for lng in ['hu', 'dev']
						li: a.lng(href='?lng=' + lng, lng=lng)= lng