html
	head
		title Quiz list
	body
		ul
			for quiz in quizzes
				li: form
					a(href=quiz._id + '/form.html')= quiz.title
					| &nbsp;
					button(formaction=quiz._id + '/edit.html') edit
		a(href='new.html'): button +