html
    head
        title About
    body
        h1 About

        h2 Purpose
        p#purpose

        h2 Documentation
        p#documentation: a(href='https://github.com/lezsakdomi/kronologia/wiki') on GitHub Wiki

        h2 Contributors
        p#contributors.
            Seriously, check the committers <a href="https://github.com/lezsakdomi/kronologia/graphs/contributors">
            on GitHub</a>.

        h2 Current version
        p#cantdetectcurrentversion Could not detect identifier for current version