small-treshold = 400px
medium-treshold = 500px

body
	margin 0

table-margin-left-min = 30px
table-margin-left-max = 80px
table-width-max = 650px

table
	margin-left table-margin-left-min
	width 'calc(100% - %s)' % table-margin-left-min
	@media (min-width: table-margin-left-min + table-width-max)
		width table-width-max
		margin-left 'calc(100% - %s)' % table-width-max
		@media (min-width: table-margin-left-max + table-width-max)
			margin-left table-margin-left-max

tbody
	display flex
	flex-direction column

tr
	display flex

td
	display flex

tr
	transition background ease-in 2s, top ease 0.5s
	position relative

tr:hover, .slip-reordering, .show-bg tr
	background var(--background-color, yellow)
	transition background ease-out 1s, top ease 0.5s

td:first-of-type
	flex-grow 1
	@media (max-width medium-treshold)
		word-break break-all

h1
	margin 20px

.question
	align-items center

input[name$='[order]']
	width 4em
	& ~ div
		transition border-color 1s
	&:placeholder-shown ~ div
		border-color transparent
		visibility hidden

answerinput-width-min = 4em
answerinput-width-regular = 5em
answerinput-width-max = 15em

input[name$='[answer]']
	width answerinput-width-max
	transition width 0.2s ease-in-out
	&:not(:focus)
		width answerinput-width-regular
		@media (min-width: medium-treshold)
			width 'calc(100vw - %s + %s)' % (medium-treshold answerinput-width-min)
			@media (min-width: table-margin-left-min + table-width-max)
				width answerinput-width-max

.down, .up
	width 0
	height 0
	border-left 20px solid transparent
	border-right @border-left
	@media (max-width: small-treshold)
		display none

.down
	border-top 20px solid #48f

.up
	border-bottom 20px solid #48f

shadow-above = 0px -3px 0px -1px red

input:invalid
	box-shadow: 0 0 1.5px 1px red
	&[name$="[order]"]
		box-shadow: shadow-above

input:invalid:focus
	box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.4)
	&[name$="[order]"]:not(.slip-reordering)
		box-shadow: shadow-above


/*
input:invalid
background #fee
*/

.row
	display flex
	align-items center

.slip-reordering
	border 1px solid rgba(128, 128, 128, 0.2)
	input[name$="[order]"]:invalid
		box-shadow none

input[name="title"]
	font-size xx-large
	margin 0.3em
	border none
	width 'calc(100% - 2 * %s)' % @margin

.remove
	background url("/trash.svg") // Licensed with CreativeCommons to FontAwesome.
	background-size contain
	background-position center
	background-repeat no-repeat
	width 1em

canvas#timeline
	position absolute
	top 0
	left 0
	height 100%
	width 100%
	z-index -1
	--dotX 5
	@media (max-width medium-treshold)
		--dotX 3
		@media (max-width small-treshold)
			--dotX 1

//background radial-gradient(ellipse at center, #0f0 0%, #ff0 50%, #f00 100%)
