script(nomodule src="//cdn.polyfill.io/v2/polyfill.min.js?flags=gated&unknown=polyfill&features=default-3.6,Object.entries")
script(nomodule src="//jspm.io/system@0.19.js")
script(nomodule).
	NodeList.prototype.forEach = Array.prototype.forEach;
	HTMLCollection.prototype.forEach = Array.prototype.forEach
script(nomodule).
	System.config({
		baseURL: '//npm.jspm.io/',
		map: {
			'plugin-babel': '//unpkg.com/systemjs-plugin-babel@0/plugin-babel.js',
			'systemjs-babel-build': '//unpkg.com/systemjs-plugin-babel@0/systemjs-babel-browser.js'
		},
		transpiler: 'plugin-babel',
		babelOptions: {
			sourceMaps: false
		}
	});

	(function () {
		var ran = false;

		window.addEventListener('load', function () {
			if (ran) return;
			else ran = true;

			var promises = [];

			const targetScripts = document.querySelectorAll('script[type="module"]');
			for (var i = 0; i < targetScripts.length; i++) {
				var script = targetScripts[i]
				console.log("Importing", script, "...");
				promises.push(System.import(script.src));
			}

			Promise.all(promises)
				.catch(console.error)
				.then(function () {
					console.log("All imports are done");
					document.dispatchEvent(new Event('DOMContentLoaded'));
				});
		});
	})()
